
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

.box {
  background: #ccc;
  margin: 10px 0;
  padding: 20px;
  border-radius: 6px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}
